body, html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5aadbb;
}

.header {
    background-color: #1f1f1f;
}
.header-title {
    width: 49%;
    display: inline-block;
    font-size: 1.5rem;
}

#left-header {
    left: 1em;
}

#right-header {
   float: right;
   right: 1em;
}

.footer {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
}

.details {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.link {
    cursor: pointer;
    color: grey;
}

.navbar {
    border-radius: 0;
}

.navbar-brand img {
    display: inline-block;
    height: 100%;
}

.hoverable {
    cursor: pointer;
    
    -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
         -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
             transition: 0.3s ease;
    
}

.hoverable:hover {
    background-color: #CCCCCC !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #333333;
    border-color: #333333;
}