body, html {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	display: block;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}

.header {
  background-color: #1f1f1f;
}
.header-title {
  width: 49%;
  display: inline-block;
  font-size: 1.5rem;
}

#left-header {
   left: 1em;
}

#right-header {
   float: right;
   right: 1em;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}